
.reveal {
  font-size: 24px !important; 
}
.reveal h1 {
  font-size: 2.0em !important;
}
.reveal h2 {
  font-size: 1.5em !important;
}
.reveal pre code {
  font-size: 18px !important;
  line-height: 1.2 !important;
}
.reveal p {
  text-align: left;
}
.reveal ul {
  display: block;
}
.reveal ol {
  display: block;
}
